<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
{% set project = "Home" %}


{% block body %}

<div class="px-5 py-5 mx-auto">
    <h1 class="text-white"><strong>San Diego Travel Backend</strong></h1>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="https://files.catbox.moe/1m85ow.png" alt="Itinerary" height="250">
                <div class="card-body">
                <h5 class="card-title">Feature 1: Itinerary</h5>
                <p class="card-text">
                    <ol>
                        <p>Alright, so you're gearing up for a trip to sunny San Diego? Nice choice! Planning a trip there is a breeze, especially with our awesome feature. Here's the deal: you can keep on adding all the rad activities you wanna do into your itinerary. Just type them into the box and hit submit. Boom! Your plans magically zing into the backend. Want to keep adding more? No prob! Just rinse and repeat until your itinerary is as stacked as a Jenga tower.

                            Now, when you're ready to check out your full itinerary, just hit that "load itinerary" button and voila! Your whole plan unfolds before your eyes like a map to adventure. So, what are you waiting for? Get typing, get planning, and most importantly, get ready to have a blast in San Diego!<p>
                    </ol>
                </p>
                <a href="http://127.0.0.1:4200/travel_project/itinerary" class="btn btn-primary">Itinerary</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="https://files.catbox.moe/8uvnzn.png" alt="Activities" height="250">
                <div class="card-body">
                <h5 class="card-title">Feature 2: Activities</h5>
                <p class="card-text">
                    <ol>
                        <p>So, to fill up your San Diego itinerary with all the best stuff, you've got this cool table at your disposal. Just type in whatever activity you're itching to do, and it'll tell you if it's family-friendly or not, and whether it's indoors or outdoors. It's like having a personal concierge at your fingertips!

                            Whether you're up for some family fun or solo adventures, or you're just trying to dodge the sun or soak it up, this table has got your back. So, dive in, search up those activities, and let the good times roll!</p>
                    </ol>
                </p>
                <a href="http://127.0.0.1:4200/travel_project/activities" class="btn btn-primary">Activities</a>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</div>

{% endblock %}